.pagination {
  &__btns {
    max-width: 400px;
    overflow-x: auto;
  }

  .prev-btn,
  .next-btn,
  .books-btn {
    border: 1px solid #dfe3e8;
    box-sizing: border-box;
    padding: 4px 10px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: white;
  }
  .activeBtn {
    border-color: dodgerblue;
  }
}
